body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

/* Navbar logo */
.navbar-brand img {
  height: 25px;
  width: auto;
}

.navbar {
  /* Decreased line height makes navbar shorter */
  line-height: 1.2em;
}

/* Applies to full name in hero image */
h1 {
  font-family: "Playfair Display", serif;
  margin-bottom: 0.7em;
}

/* Applies to hero image subtext, page section titles */
h2, h5 {
  text-transform: uppercase;
  /* Overrides default 0.67em top and bottom margin typically displayed by browsers for h elements */
  margin: 0 0 1em;
}

/* Applies to text in project descriptions */
.card-text {
  font-size: 0.8em;
}

.hero-image {
  background-image: url(https://image.ibb.co/kRLEE7/workspace_edit.jpg);
  /* Sets height to full height (100%) of viewport */
  height: 100vh;
  /* Ensures background image spans full width of viewport */
  background-size: cover;
  /* Aligns image to center of viewport */
  background-position: center;
  background-repeat: no-repeat;
  /* For parallax scrolling effect */
  background-attachment: fixed;
  /* Enables flex layout */
  display: flex;
  /* Vertically aligns (align-items defines how the browser distributes space between and around flex items along cross-axis of container; works like justify-content but in the perpendicular direction) */
  align-items: center;
}

.hero-text {
  /* Right/left auto margin horizontally centers hero text. Bottom margin effectively vertically centers between bottom of viewport and bottom of navbar */
  margin: 0 auto 3.9em;
}

.hero-text h5 {
  /* Default usually 1.2em. Increases space between lines of hero image subtitle */
  line-height: 1.5em;
}

/* Applies to button within top hero image */
.hero-contact {
  /* Combines with 1em bottom margin set for h5 elements for total of 1.5 em between button and text "web developer" */
  margin-top: 0.5em;
}

.about, .contact {
  background-color: WhiteSmoke;
}

.about {
  padding: 3em 7em;
}

/* Descendant selector matches all elements that are descendants of a specified element (in this case p descendants of class "about") */
.about p {
  text-align: left;
  width: 36em;
  margin: 0 auto;
  max-width: 100%;
}

.portfolio {
  background-color: #e6e6e6;
}

.portfolio-item {
  margin-bottom: 2em;
}

.portfolio {
  /* Since class "portfolio-item" has bottom margin of 2em, decreasing this section's bottom margin by that amount */
  padding: 3em 7em 1em 7em;
}

/* Contact section */
.contact {
  /* Setting right and left padding to 0 so it doesn't decrease width of contact form inputs */
  padding: 3em 0;
}

.footer {
  padding: 2em;
}

.footer-text {
  /* Matches color of nav links */
  color: #c2c2c2;
  padding-bottom: 0.5em;
}

/* Applies to Font Awesome social icons */
.fab {
  margin: 0 0.5em;
  color: white;
}

.fab:hover {
  /* Matches CodePen links */
	color: #17a2b8;
}

/* Applies to paragraph in contact section */
.contact p {
  /* Adds extra space before contact form (default margin-bottom is 1rem [root element em]) */
  margin-bottom: 2em;
}

/* Applies to message box in form */
.message-box {
  margin-top: 1.5em;
  /* Disables default textarea resizing handles */
  resize: none;
  height: 6em;
}

/* Applies to input box for email */
.email {
  margin-top: 1.5em;
}

input[type=text], input[type=email], .message-box {
  /* matches row background color for all input boxes */
  background-color: WhiteSmoke;
  width: 50%;
  margin: 0 auto;
  border: 1px solid #888;
  border-radius: 0.2em;
  /* Order: top/bottom, right/left. Right/left padding adds space between text and border of input (without it, it touches the left edge) */
  padding: 10px 0.75em;
}

/* Remove default box shadow on contact section input boxes, change outline from blue to turquoise to match other page colors */
.form-control:focus {
  box-shadow: none;
  border: 1px solid #17a2b8;
}

.form-btn {
  /* Shorthand: top, horizontal (left and right), bottom */
  margin: 2em auto 0;
  text-align: right;
  /* Matches inputs */
  width: 50%;
}

/* Shows "X" in place of navbar hamburger icon when clicked */

/* Reminder: Child selector selects all elements that are immediate children of specified element */
.navbar-toggler > .close {
  display: inline;
}

.navbar-toggler.collapsed > .close, .navbar-toggler:not(.collapsed) > .navbar-toggler-icon {
  display: none;
}

/* Styles navbar toggler and links (overrides Bootstrap 4 defaults) */

/* Removes default toggler icon border */
.navbar-toggler {
  border: none;
}

/* Removes default orange border that surrounds navbar toggler icon when it has been clicked */
.navbar-toggler:focus {
  outline: none;
}

.span.navbar-toggler-icon {
  opacity: 1;
}

/* Sets "X" button to light grey, removes shadow and makes fully opaque */
.close {
  color: #c2c2c2;
  text-shadow: none;
  opacity: 1;
}

.close:hover {
  color: #c2c2c2;
  opacity: 1;
}

.navbar-dark .navbar-nav .nav-link {
  color: #c2c2c2;
}

/* MEDIA QUERIES */

/* Special styling for screens up to 767px wide (landscape phones) */
@media screen and (max-width: 767px) {
  h1 {
    font-size: 2em;
  }

  h5 {
    font-size: 1.2em;
  }

  .about {
    /* Adds consistent spacing between content of each row and row's border/edge of viewport */
    padding: 2em 1em;
  }

  .portfolio {
    /* Since class "portfolio-item" has bottom margin of 2em, decreasing this section's bottom margin by that amount */
    padding: 2em 2em 0 2em;
  }

  .contact {
    padding: 2em 0;
  }

  input[type=text], input[type=email], .message-box, .form-btn {
    width: 80%;
  }
}

/* Increases about section right/left padding for extra large screens */
@media screen and (min-width: 1300px) {
  .about {
    padding: 3em 20em;
  }
}
