:root {
  --link-color: #2e8b57;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-link {
  /* Decreases Boostrap default top/bottom padding by 0.25rem */
  padding: 0.25rem 1rem;
  font-size: 0.85em;
  letter-spacing: 0.1em;
}

.navbar {
  /* Decreased line height makes navbar shorter */
  line-height: 0.8em;
}

/* Applies to full name in hero image */
h1 {
  font-family: 'Raleway', sans-serif;
  margin-bottom: 0.8em;
  letter-spacing: 0.12rem;
}

.cover-subtext {
  /* Prevents blinking cursor from extending to edge parent div */
  width: fit-content;
  margin: 0 auto;
}

/* Applies to (h2) hero image subtitle */
.intro-subheading {
  /* Ensures content is not revealed until the animation (hides letters to right of blinking text cursor; otherwise they move in from the right) */
  overflow: hidden;
  /* Typing animation based on CSS-Tricks tutorial https://css-tricks.com/snippets/css/typewriter-effect/ */
  border-right: 0.15em solid #fff;
  white-space: nowrap; /* Keeps content on single line */
  margin: 0 auto; /* Scrolling effect; centers text as it appears */
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
  /* max-width: 80%; */
}

/* Typing effect */
@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

/* Text cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: #fff;
  }
}

.portrait {
  height: 350px;
  opacity: 0.4;
  transform: translate(20px, 0);
  transition: 0.75s ease-in;
  border-radius: 50%;
}

.fadeInUp {
  opacity: 1;
  transform: translate(0, 0);
}

ul {
  columns: 2;
  margin-bottom: 2rem;
}

/* Prevents link color from changing to dark blue on hover (just an underline appears) */
a:hover {
  color: var(--link-color);
}

/* Applies to portfolio and contact section titles (h3 headings) */
.section-title {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  /* Overrides default 0.67em top and bottom margin typically displayed by browsers for h elements */
  margin: 0 0 1em;
  letter-spacing: 3px;
}

/* Applies to about section title (h3 heading). Needs its own margin settings, so can't use default section-title styling */
.about-title {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  margin: 1.5em 0 1em 0;
  letter-spacing: 3px;
}

/* Applies to (h4) about section subheadings */
.about-subheader {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 3em 0 1em 0;
}

/* Prevent text cursor from appearing */
h1,
h2,
h3,
h4.about-subheader,
p,
.about-text,
h4.coming-soon-title,
.card p {
  cursor: default;
}

/* Applies to PDF icon/download link and GitHub links */
a,
.resume-link {
  color: var(--link-color);
}

.resume-link:hover,
.resume-link p:hover {
  /* Prevent underline */
  text-decoration: none;
  opacity: 0.7;
  transition: 1s;
}

/* Have to set this because set cursor to default above */
.resume-link p:hover {
  cursor: pointer;
}

/* Applies to text in project descriptions */
.card p {
  font-size: 0.9rem;
}

/* Card title links (Bootstrap class that changes text color; by default links are blue) */
.text-dark:hover {
  text-decoration: none;
}

.cover {
  background-image: url('img/plant.jpg');
  /* Sets height to full height (100%) of viewport */
  height: 100vh;
  /* Ensures background image spans full width of viewport */
  background-size: cover;
  /* Aligns image to center of viewport */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

.cover-text {
  /* Right/left of auto needed for centering of text of typing animation */
  /* Vertically centers text (in addition to horizontal centering) since it's a flex item */
  margin: auto;
  /* To keep 'typewriter cursor' (right border) to immediate right of text */
  /* display: flex; */
  width: fit-content;
}

/* 'More projects on GitHub' text */
.lead {
  margin-top: 2rem !important;
}

@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

/* Down arrow on cover */
.fa-chevron-down {
  margin-bottom: 0.25em;
}

.fa-chevron-down:hover {
  cursor: pointer;
  animation: bounce 1s infinite;
}

.contact,
.bg {
  background-color: #f5f5f5;
}

.bg.about {
  border-bottom: 2px solid #e0e0e0;
}

.about-text {
  margin: 0 auto;
  text-align: left;
}

.education-text {
  line-height: 1.9;
}

.portfolio {
  background-color: #fdfafa;
}

.portfolio-item {
  margin-bottom: 2em;
}

.portfolio {
  /* Since class "portfolio-item" has bottom margin of 2em, decreasing this section's bottom margin by that amount */
  padding: 3em 7em 1em 7em;
}

/* Contact section */
.contact {
  /* Setting right and left padding to 0 so it doesn't decrease width of contact form inputs */
  padding: 3em 0;
  border-top: 2px solid #e0e0e0;
}

.footer {
  padding: 2em;
}

.footer-text {
  /* Matches color of nav links */
  color: #c2c2c2;
  padding-bottom: 0.5em;
}

/* Applies to Font Awesome social icons */

.fab {
  margin: 0 0.5em;
  color: #fff;
}

.about-text .fas {
  color: #8e8e8e;
  float: right;
}

/* Applies to tags icon */
.card .fas {
  margin-right: 0.15rem;
  color: #9a9a9a;
}

.contact .far {
  color: #8e8e8e;
}

.fab:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.email-button {
  text-decoration: none;
  background-color: var(--link-color);
  padding: 0.5rem 0.7rem;
  border-radius: 0.4rem;
  color: #fff;
  font-size: 1.2rem;
  /* a elements have display: inline by default, but transformable elements can't be display: inline */
  display: inline-block;
  margin: 1rem 0 0 0;
}

.email-button:hover {
  text-decoration: none;
  color: #fff;
  opacity: 0.7;
  transition: 1s;
}

/* Shows "X" in place of navbar hamburger icon when clicked */

/* Reminder: Child selector selects all elements that are immediate children of specified element */
.navbar-toggler > .close {
  display: inline;
}

.navbar-toggler.collapsed > .close,
.navbar-toggler:not(.collapsed) > .navbar-toggler-icon {
  display: none;
}

/* STYLES NAVBAR TOGGLER AND LINKS (OVERRIDES BOOTSTRAP 4 DEFAULTS) */

/* Removes default toggler icon border */
.navbar-toggler {
  border: none;
}

/* Removes default orange border that surrounds navbar toggler icon when it has been clicked */
.navbar-toggler:focus {
  outline: none;
}

.span.navbar-toggler-icon {
  opacity: 1;
}

/* Sets "X" button to light grey, removes shadow and makes fully opaque */
.close {
  color: #c2c2c2;
  text-shadow: none;
  opacity: 1;
}

.close:hover {
  color: #c2c2c2;
  opacity: 1;
}

.navbar-dark .navbar-nav .nav-link {
  color: #c2c2c2;
}

/* ------------ MEDIA QUERIES ------------ */

/* Small screens */
@media screen and (max-width: 767px) {
  * {
    transform: none;
    box-shadow: none;
  }

  .nav-link {
    padding: 0.75rem;
  }

  /* Disable animation Although you can't hover on a smartphone, clicking it triggers animation and it won't end */
  .fa-chevron-down:hover {
    animation: none;
  }

  p,
  li {
    font-size: 14px;
  }

  /* 'More projects on GitHub' text */
  .lead {
    max-width: 90%;
    margin-top: 1rem !important;
  }

  h1 {
    font-size: 30px;
  }

  /* Applies to hero image subtitle */
  .intro-subheading {
    font-size: 16px;
  }

  .section-title {
    font-size: 25px;
  }

  .about-title {
    font-size: 25px;
    /* Decreases margin in main CSS, 1.83 on top, 1 and bottom */
    margin: 1.5em 0 0.5em 0;
  }

  /* Applies to (h4) about section subheadings */
  .about-subheader {
    font-size: 17px;
  }

  .about-text {
    font-size: 15px;
    padding: 0.5em;
    margin-bottom: 0;
  }

  .about-text .fas {
    display: none;
  }

  .portfolio {
    padding: 2em 0.5em 0 0.5em;
  }

  .contact {
    padding: 2em 0;
  }

  .contact p {
    padding: 0 2em;
  }

  /* .portrait {
    height: 250px;
    margin: 15px auto 18px auto;
    transform: translate(0, 0);
  } */

  .coming-soon {
    display: none;
  }

  .email-button {
    font-size: 1.2rem;
  }

  .fab {
    font-size: 1.5rem;
  }
}

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 991px) {
  * {
    transform: none;
    box-shadow: none;
  }

  p,
  li {
    font-size: 14px;
  }

  h1 {
    font-size: 36px;
  }

  /* Applies to (h2) hero image subtitle */
  .intro-subheading {
    font-size: 17px;
  }

  .section-title {
    font-size: 27px;
  }

  /* Applies to (h4) about section subheadings */
  .about-subheader {
    font-size: 16px;
  }

  .about-title {
    font-size: 27px;
    margin: 1.5em;
  }

  /* .portrait {
    height: 350px;
    margin-bottom: 2em;
  } */

  .about-text {
    /* margin-bottom: 2em; */
    width: 75%;
    margin: auto;
    /* By placing this after margin: auto, both styles apply at once. If placed above, does nothing */
    margin-bottom: 2em;
  }

  .coming-soon {
    display: none;
  }

  .email {
    font-size: 20px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  p,
  li {
    font-size: 15px;
  }

  h1 {
    font-size: 38px;
  }

  /* Applies to (h2) hero image subtitle */
  .intro-subheading {
    font-size: 18px;
  }

  .section-title {
    font-size: 29px;
  }

  .about-title {
    font-size: 29px;
  }

  /* Applies to (h4) about section subheadings */
  .about-subheader {
    font-size: 18px;
  }

  .about-text p {
    width: 94%;
  }

  /* .portrait {
    height: 350px;
    margin-top: 7em;
  } */

  .coming-soon {
    display: inline;
  }

  .card:hover {
    /* Increases card size by 1.1x original size */
    transform: scale(1.01);
    /* offset y, offset x, blur radius, spread radius */
    box-shadow: 1.5px 2px 13px 1px rgba(0, 0, 0, 0.15);
    /* ease-in-out effect has a slow start and end */
    transition: 0.5s ease;
    z-index: 1;
  }
}

@media screen and (min-width: 1200px) {
  p,
  li {
    font-size: 16px;
  }

  h1 {
    font-size: 50px;
  }

  /* Applies to (h2) hero image subtitle */
  .intro-subheading {
    font-size: 25px;
  }

  .section-title {
    font-size: 32px;
  }

  .about-title {
    font-size: 32px;
  }

  /* Applies to (h4) about section subheadings */
  .about-subheader {
    font-size: 18px;
  }

  .about-text {
    width: 50%;
    margin-bottom: 4em;
  }

  /* .portrait {
    height: 400px;
    padding-left: 1em;
    margin-bottom: 3em;
  } */

  .coming-soon {
    display: inline;
  }

  .card:hover {
    /* Increases card size by 1.1x original size */
    transform: scale(1.01);
    /* offset y, offset x, blur radius, spread radius */
    box-shadow: 1.5px 2px 13px 1px rgba(0, 0, 0, 0.15);
    /* ease-in-out effect has a slow start and end */
    transition: 0.5s ease;
    /* z-index: 1; */
  }
}

@media screen and (min-width: 1600px) {
  /* .portrait {
    height: 500px;
  } */

  .about-text {
    width: 40%;
  }

  .portfolio {
    padding: 3em 10em 1em 10em;
  }
}
