* {
  /* Includes padding, border in element's total width/height */
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
}

/* Game title displayed in sidebar */
.game-name {
  /* Default for h1 is 2em */
  font-size: 4em;
  font-family: Ranchers;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  color: #cf3c3c;
}

.mobile-message {
  background-color: #fff;
  height: 100vh;
  display: none;
}

p {
  font-size: 1.2em;
  margin-left: 1.9em;
  margin-right: 1.9em;
}

/* Adds extra space below line listing score and remaining lives (default bottom margin for p element is 1em) */
.player-info {
  margin-bottom: 1.5em;
}

body {
  text-align: center;
  background: #ececec;
  font-family: Josefin Sans, sans-serif;
}

.info-panel {
  background-color: #fff;
  /* Allows game to display next to panel rather than below it */
  position: absolute;
  left: 0;
  width: 35%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Adds some extra space to left of score displayed in side panel */
.score {
  padding-right: 0.5em;
}

/* MODAL */

.modal {
  display: none;
  width: 33%;
  height: 39%;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #c5c4c4;
  position: absolute;
  top: 29%;
  left: 51%;
}

/* Added by function showModal() to element with id of "myModal," which is same element that has class "modal." Due to cascade, this selector's declaration overtakes display: none given to class "modal" */
.modal-visible {
  display: block;
}

.modal-content {
  margin: 0 auto;
  padding: 30px;
  width: 80%;
}

.modal-content p {
  font-size: 1.3rem;
  margin: 1.2em 0;
}

/* Affects "x" button on modal */
.close {
	position: absolute;
  font-weight: bold;
	top: 20px;
	right: 30px;
	font-size: 30px;
  /* Removes default (link) underline */
	text-decoration: none;
	color: #333;
}

.close:hover {
  color: #2f4dbd;
}

.canvas {
  margin-left: 28em;
}

/* Game play again/restart button */
.restart {
	cursor: pointer;
  color: #2eb82e;
  margin-bottom: 1em;
}

/* Affects button inside modal that resets game on click */
.play-again {
  cursor: pointer;
	background-color: #4569ee;
  /* Removes default border that looks like shadow */
  border: none;
	padding: 0.7rem 1rem;
	font-size: 1.1rem;
  /* Button elements are inline-block by default */
	display: block;
	margin: 0 auto;
	width: 50%;
	color: #fff;
	border-radius: 5px;
}

button:hover {
  background-color: #2f4dbd;
}

/* Character selection section */
.character p {
  margin-bottom: 0;
}

.char-selector {
  /* Changes images in ul to be displayed in a row since default for display: flex is flex-direction: row */
  display: flex;
  /* Used to center along whatever flex-direction is set to (the main axis). This is the X axis since display: flex is row, but would be Y axis if flex-direction were set to column */
  justify-content: center;
  margin: 0;
  /* Browser default for ul is padding-left: 40px */
  padding-left: 0;
}

.char-selector li {
  list-style: none;
}

.char-selector img:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.char-selector img {
  width: 50px;
}

/* Mobile phones/extra small screens */
@media screen and (max-width: 767px) {
  p {
    text-align: center;
    font-size: 18px;
    /* Default: left and right margin of 1em; */
    margin: 0 2.5em;
    padding-top: 14em;
  }

  .mobile-message {
    display: block;
  }

  .mobile-message-image {
    width: 30%;
    margin: 0 auto;
  }

  .info-panel {
    display: none;
  }

  .canvas {
    display: none;
  }
}

/* Tablets in portrait view */
@media screen and (max-width: 1024px) {
  p {
    text-align: center;
    font-size: 30px;
    /* Default: left and right margin of 1em; */
    margin: 0 4em;
    padding-top: 12em;
  }

  .mobile-message {
    display: block;
  }

  .mobile-message-image {
    width: 20%;
    margin: 0 auto;
  }

  .info-panel {
    display: none;
  }

  .canvas {
    display: none;
  }
}

/* Tablets in landscape view */
@media screen and (max-width: 1024px) and (orientation: landscape) {
  p {
    text-align: center;
    font-size: 30px;
    /* Default: left and right margin of 1em; */
    margin: 0 8em;
    padding-top: 9em;
  }

  .mobile-message {
    display: block;
  }

  .mobile-message-image {
    width: 15%;
    margin: 0 auto;
  }

  .info-panel {
    display: none;
  }

  .canvas {
    display: none;
  }
}
